<%- include("partials/headerContent");   -%>
<% if(addMessage.length > 0){ %>
  <div class="w3-panel w3-green flashMessage">
       <h3><%=addMessage%></h3>
  </div>
<% } %>
  <h1 id="heading">Home</h1>
  <p class="para"><%= home %></p>
  <br>


<div class="count">
  <h5>Total Posts: <%= noOfPosts%></h5>
</div>
  <% postingPosts.forEach(function(post){ %>
    <% if(post.private == true && post.name == masterUser){ %>
      <a id="headingOthers" href="/publicPosts/<%= post._id %>"><h1 ><%= post.title %></h1></a>
      <% var myString = post.content; %>
      <% var length = 500;%>
      <p class="paraOthers"><%= myString.substring(0, length)%> ... <a href="/publicPosts/<%= post._id %>">Read More</a>
      </p>
      <hr id="blog">
  <%  } %>
  <% }); %>


<a href="/compose"><button class="button button-1">+</button></a>


  <%- include("partials/footerContent"); -%>
