<%- include("partials/headerContent");   -%>


<h1 style="margin-bottom:20px;" id="headingOthers"><%= post.title %></h1>
<p class="paraOthers"><%= post.content %></p>

<% var sendId = post._id;%>
<h4>Author: <h4 class="postDetails"><%= full_name%></h4></h4>
<br>
<h4>Email: <h4 class="postDetails"><%= post.email%></h4></h4>
<% if(masterEmail == post.email){ %>
  <div class="container-2">
    <a href="/publicPosts/updatePage/<%= sendId %>"class="edit">
    <div class="btn btn-two">
      EDIT
    </div>
    </a>
    <a class="delete">
    <div class="btn btn-two">
      DELETE
    </div>
    </a>
  </div>
<% } else {%>
  <div class="container-2">
    <a href="/account/<%= post.email%>" class="edit">
      <div class="btn btn-two">
        SEE PROFILE
      </div>
    </a>
  </div>
<% } %>




<script type="text/javascript">
  //*****************************delete*********************************************
  const trashcan = document.querySelector('a.delete');
  trashcan.addEventListener('click', (e) =>{
    const endPoint = `/publicPosts/<%= sendId %>`;
    fetch(endPoint, {
      method: 'DELETE'
    })
    .then(() => {
      window.location.reload(true);

      if(<%= post.private %> == false){
        window.location.href = "/blog";
      }else{
        window.location.href = "/home";
      }

    })
    .catch(err => console.log(err));
  })


</script>

</div>
  <div class="footerCompose">
    <p>© Copyright 2020 Vartika Hari Durgapal</p>
  </div>
</div>


</body>
</html>
